h1{
    font-size: 50px;
    font-weight: lighter;
    /* font-family: Georgia, 'Times New Roman', Times, serif;
     */
     font-family: 'Merriweather', serif;;
}

p{
    font-weight:bolder ;
    font-style: italic;
    line-height: 45px;
    word-spacing: 20px;
    letter-spacing: 5px;
}


.div1{
    background-color: #ffff66;
    color: orange;
}

.div2{
    background-color: rgb(61, 183, 57);
    color: white;
}